.pizzaControls {
	width:100%;
	margin: auto;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	
	padding: 10px 0;
	
}

.order{
	position: relative;

	padding: 5px 10px;
	border:1px solid white;
	border-radius: 6px;
	background-color: green;
	color: white;
	font-size: 16px;
	
	font-family: "roboto";
	font-weight: 600;
	letter-spacing: 1.5px;
}
.order:hover{
	border:1px solid green;
	box-shadow: 0px 2px 3px green;
	background-color: white;
	color: green;
	cursor: pointer;
}

.order:active{
	border:1px solid green;
	top:1px;
	left:1px;
	background-color: white;
	color: green;
	cursor: pointer;
}

@media (max-width: 1070px){
	.pizzaControls {
		border-top: 1px solid #D1D1D1BB;
		width:90%;
		margin: 0;
	}
}