.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: left;
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	padding: 0 10px;
	background:#FFC61CFF;
	width: 100vw;
	margin-bottom: 20px;
	box-sizing: border-box;
	/*box-shadow: 0 -5px 5px #E09B31FF inset; */
	z-index: 400;
}

